@import './../global/general';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./font/Roboto-Light.ttf');
}

html {
  font-family: 'Roboto Light' !important;

  height: 100%;

  body {
    height: 100%;

    #root {
      height: 100%;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}