@import './../global/general';

.dates {
    &__search-bar {        
        margin-bottom: 5rem;

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4rem;

            span {
                min-width: max-content;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;

        .one-date {
            border: 1px solid $bg-even;
            padding: 1rem;
            min-width: 20rem;
            
            text-align: center;

            transition: ease-in .1s;

            &:hover {
                cursor: pointer;
                background-color: $bg-even;
                color: $text-color;

                &:active {
                    transform: scale(0.9);
                    transition: ease-in .1s;
                }
            }
        }
    }
}